<div class="container-game">
  <!-- Número de Intentos -->
  <div class="row container-tries">
    <div class="col text-center">
      <img src="assets/img/{{tries}}.png" alt="" class="hangman-img">
      <h3 class="text-tries">Intentos <small> {{tries}} / 9 </small></h3>
    </div>
  </div>
  
  <!-- Palabra oculta -->
  <div class="row word container-word">
    <div class="col text-center">
      <h1>{{ hiddenWord }}</h1>
    </div>
  </div>
  
  <!-- Mensaje porque usuario ganó -->
  <div class="row container-result text-result" *ngIf="win">
    <div class="col text-center">
      <h3 class="text-result">¡FELICITACIONES, GANASTE!</h3>
      <i class="em em-blush emoticon" aria-role="presentation" aria-label="SMILING FACE WITH SMILING EYES"></i>
    </div>
  </div>
  
  <!-- Mensaje porque usuario perdió -->
  <div class="row container-result" *ngIf="lose">
    <div class="col text-center">
      <h3 class="text-result">¡LO SIENTO!, PERDISTE.</h3>
      <i class="em em-cry emoticon" aria-role="presentation" aria-label="CRYING FACE"></i>
        <h4 class="text-reveal-word">La palabra era <h3>{{ word }}</h3></h4>
        <!-- <h1>{{ word }}</h1> -->
    </div>
  </div>
  
  <!-- Teclado -->
  <div class="row keyboard" *ngIf="!win && !lose">
    <div class="col text-center">
      <button (click)="check( letter )" *ngFor="let letter of letters" class="btn btn-primary">
        <!-- Interpolación de Strings -->
        {{ letter }}
      </button>
    </div>
  </div>
</div>


