@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.container {
    background: linear-gradient(45deg, #202637, #06282e);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.container-game {
    /* background-color: #0c162d; */
    border: 1px solid #202637;
    border-radius: 6px;
    font-family: 'Roboto Mono', monospace;
}
.container-tries {
    color: #627597;
    padding-top: 2px;
    padding-bottom: 2px;
}
.text-tries {
    font-weight: 400;
}
.container-word {
    color: #FFFFFF;
}
.container-result {
    color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.text-result {
    font-weight: 300;
    padding-bottom: 20px;
    color: #00cfc8;
}
.text-reveal-word {
    color: #E749A8;
    font-weight: 300;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.text-reveal-word h3 {
    color: #E749A8;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    padding-bottom: 5px;
}
.hangman-img {
   height: 400px; /* You can add global styles to this file, and also import other style files */
}
.btn {
    background-color: #00cfc8;
    border: 1px solid #00cfc833;
    /* transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}
.btn-primary {
    color: #00cfc8;
    background-color: transparent;
    border: 1px solid #00cfc840;
    border-radius: 20%;
    font-weight: 700;
}
.btn-primary:active {
    color: #E749A8;
    background-color: #E749A826;
    border: 1px solid #E749A826;
    border-radius: 20%;

    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary:hover {
    color: #0c162d;
    background-color: #00cfc8;
    border: 1px solid #00cfc8;
    border-radius: 20%;
}
button {
    margin-top: 5px;
    margin-left: 5px;
}
.word,
.keyboard {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.emoticon{
    font-size:20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}



